files:
  # Runs before `./10_bundle_install.sh`:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/14_stop_delayed_job.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash

      # Try to stop current delayed_job daemon if any
      FILE=/var/app/current/tmp/pids/delayed_jobs_pool.pid
      if test -f "$FILE"; then
        kill $(cat $FILE)
      fi
