###################################################################################################
# puma web server config
# for get num of cpu
# workers %x(grep -c processor /proc/cpuinfo)
#
###################################################################################################

files:
  "/opt/elasticbeanstalk/support/conf/pumaconf.rb":
    owner: root
    group: root
    mode: "000644"
    content: |
      directory '/var/app/current'
      threads 1, 8
      workers %x(grep -c processor /proc/cpuinfo)
      worker_timeout 180
      bind 'unix:///var/run/puma/my_app.sock'
      pidfile '/var/run/puma/puma.pid'
      stdout_redirect '/var/log/puma/puma.log', '/var/log/puma/puma.log', true
      daemonize false
  